<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Mercado Liebre
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">  
        <section class="main-header-top-bar">
            <a href="/" id="logo" ><img   src="images/logo-mercado-liebre.svg"> </a>
        <div class="main-header-buscador">
        <input type="text" value="Buscar productos, marcas">
        <i class="fas fa-search"></i>
    </div>

    
    <div class="copy-header"></h2>
        <i class="fas fa-hand-holding-usd"></i>
        <p class="del-header">Compra en cuotas y sin tarjeta de credito</p>
    </div>

</section>

        <nav class="main-nav-bar"> 
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
         
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fas fa-sign-out-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-bag"></i></li>
            </ul>
        </nav>
    </header>

<header class="navegador-burger">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>
    
    
    
    
    <main>
        <div><img id="main-banner" src="images/img-home-banner.jpg"> </div>
        <section>
            <h2 class="titulares">Basado en tu ultima visita</h2>

            <article>
                <img class="img_producto" src="images/img-cafetera-moulinex.jpg">
                <i id="truck" class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$6770</p>
                <p class="descuento">40% off</p>
            </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
         
            <article>
                <img class="img_producto" src="images/img-macbook-pro-2019.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
            </div>
                <p class="descripcion">MacBook Pro 2019</p>
          
            </article>
          
            <article>
                <img class="img_producto" src="images/img-samsung-galaxy-s10.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
            </div>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
          
            <article>
                <img class="img_producto" src="images/img-tv-samsung-smart.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
            </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>


        <section>
            <h2 class="titulares">Ofertas</h2>
            <article>
                <img class="img_producto" src="images/img-cafetera-moulinex.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$6770</p>
                <p class="descuento">40% off</p>
            </div>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
         
            <article>
                <img class="img_producto" src="images/img-macbook-pro-2019.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
            </div>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
          
            <article>
                <img class="img_producto" src="images/img-samsung-galaxy-s10.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
            </div>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>

            <article>
                <img class="img_producto" src="images/img-tv-samsung-smart.jpg">
                <i class="fas fa-truck"></i>
                <div class="section-precio">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
            </div>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </article>
        </section>

    </main>

    <footer>
        <div class="top-footer" >
        <div class="footer-article">
        <i class="fas fa-credit-card"></i>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="footer-article">
        <i class="fas fa-gift"></i>
        <h2>Envío gratis desde $ 2.500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footer-article">
        <i class="fas fa-user-shield"></i>
        <h2>Seguridad, de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </div>

    </div>

        <div class="footer-leyenda">
        <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
        </div>


    </footer>



    <script src="" async defer></script>
</body>

</html>